# Use this template to create local .env file
# Define all the configs for model

# ====== development environment ======
# To point to other directories, to be documentated, not necessary on the docker image PROJECT_ROOT=${pwd}
ENV=${ENV}
KEY=

# ====== pipeline Variables ======
ARTIFACRTS_S3=s3://forex-${ENV}
ARTIFACTS_LOCAL=${PWD}/artifacts/
FILE_NAME=
DATA_DIR=
MODEL_DIR=
LABEL_NAME=
TRAIN_TEST_SPLIT=
BATH_SIZE=
EPOCHS=

# ====processing requirements =====
MULTIPROCESSING=
